.sample-pilet-todo-list {
    display: flex;
    flex-direction: column;
    width: 300px;
    flex-shrink: 0;
    padding: 0.7em;
    font-size: 1em;
    text-align: left;
}

.sample-pilet--todo-entry {
    padding: 0.3em;

    > button {
        margin-left: 1em;
        background-color: white;
        color: red;
        border: none;
    }
}

.sample-pilet--todo-entry-not-done {
    color: black;
}

.sample-pilet--todo-entry-done {
    color:grey;
    text-decoration: line-through;
}
