.sample-pilet--todo-list {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 0.7em;
    font-size: 1em;
    padding: 0;
    list-style-type: none;
    width: max-content;
}

.sample-pilet--todo-list-entry {
    padding: 0;
    display: flex;

    > .sample-pilet--todo-list-label {
        display: flex;
        margin: 0;
        flex-grow: 1;
    }

    > .sample-pilet--todo-list-remove {
        margin: 0 0 0 1em;
        padding: 0 0.5em;
        cursor: pointer;
        background-color: white;
        color: red;
        border: none;

        text-decoration: none;

        &:hover {
            color: black;
        }
        &:focus {
            outline: none;
        }
    }
}

.sample-pilet--todo-list-entry-not-done {
    color: black;
}

.sample-pilet--todo-list-entry-done {
    color: grey;

    > label > span {
        text-decoration: line-through;
    }
}
.sample-pilet--todo-list-text {
    flex-grow: 1;
    align-self: center;
}

.sample-pilet--todo-list-checkbox {
    margin-left: 0;
    margin-right: 10px;
}
